{
    // GLOBAL CONFIG
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:import/typescript",
        "plugin:@typescript-eslint/recommended",
        "plugin:eslint-comments/recommended",
        "plugin:prettier/recommended",
        "prettier/@typescript-eslint"
    ],
    "plugins": ["import", "simple-import-sort"],
    "parserOptions": {
        "ecmaVersion": 12
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        // EXTRA TYPESCRIPT RULES THAT ARE NOT TYPE AWARE
        "@typescript-eslint/prefer-ts-expect-error": 2,
        "@typescript-eslint/consistent-type-imports": 2,
        // IMPORT RULES
        "sort-imports": 0,
        "import/no-cycle": 2,
        "import/first": 2,
        "import/newline-after-import": 2,
        "import/no-duplicates": 2,
        // SIMPLE SORT
        "simple-import-sort/imports": 2,
        "simple-import-sort/exports": 2
    },
    "overrides": [
        // REACT OVERRIDES
        {
            "files": ["*.tsx"],
            "extends": ["plugin:react/recommended", "prettier/react"],
            "rules": {
                "react/prop-types": 0,
                "react/display-name": 0
            }
        },
        // NODE OVERRIDES
        {
            "files": ["babel.config.js", "fork-ts-checker.config.js"],
            "env": {
                "node": true,
                "browser": false
            }
        }
    ]
}
