$tag-radius: 10px;
$panel-tab-border-bottom: none;
$panel-item-border: none;

@import "../node_modules/@fortawesome/fontawesome-svg-core/styles.css";
@import "../node_modules/bulma/bulma.sass";

textarea {
    border: 1px solid darken($light, 10%) !important;
    outline: none;
    border-radius: 0px !important;
}

.mnemonic-pre {
    max-width: 400px;
}

.settings-box {
    padding: 1ch;
}

#root > div.pane > div.chat-input-wrapper > textarea {
    box-shadow: none;
}

.input-wrapper {
    padding-bottom: 12px;
}

.search-bar {
    border-radius: 10px !important;
}

input {
    border-radius: 10px !important;
}

button {
    border-radius: 10px! important;
}

.title-bar {
    position: absolute;
    height: 22px;
    width: 100%;
    top: 0px;
    -ms-overflow-style: scrollbar;
    -webkit-app-region:drag;
    background-image: linear-gradient(to left, $light, $white);
}

div {
    display: block;
}

.tag:not(body) {
    padding: 10px 15px 5px 15px;
    line-height: 1.25;
}

.message-box {
    white-space: pre !important;
    height: auto !important;
    padding: 10px
}

.message-box > p {
    font-size: 16px;
}

.title-bar {
    height: 22px;
    width: 100vw;
    border-bottom: 2px solid $light;
}

.sidebar {
    position: absolute;
    overflow-y: auto;
    width: 265px;
    height: calc(100% - 22px);
    top: 22px;
    background-color: $light;
}

.verify-mnemonic {
    background-color: unset;
}

.verify-mnemonic-wrapper {
    padding: 0ch 4ch;
}

.pane {
    position: absolute;
    width: calc(100% - 265px);
    right: 0;
    height: calc(100% - 22px);
    top: 22px;
    background-color: $white;
    z-index: -1;
}


.verify-wrapper {
    position: relative;
    top: 0;
    bottom: 160px;
    height: calc(100vh - 160px);
    overflow-y:auto;
    z-index: 0;
    padding: 10px 20px;
}

.conversation-wrapper {
    position: relative;
    top: 0;
    bottom: 160px;
    height: calc(100vh - 160px);
    overflow-y:auto;
    z-index: 0;
    padding: 10px 20px;
}

div.sidebar > aside > ul > li > a:hover {
    background-color:darken($light, 5%);
}

.full-size {
    width: 100vw;
    height: calc(100vh - 22px);
    top: 22px;
}

.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Aligner-item {
    max-width: 50%;
  }

  .Aligner-item--top {
    align-self: flex-start;
  }

  .Aligner-item--bottom {
    align-self: flex-end;
  }


.pane-topbar {
    padding: 10px 20px;
    height: 55px;
    position: sticky;
    top: 0px;
    z-index: 1;
    border-bottom: 1px solid $light;
    background-color: #fff;
}

.pane-topbar-content {
    display: inline-block;
    margin: 0 auto;
}

::-webkit-scrollbar {
    display: none;
 }

.chat-input-wrapper {
    position: fixed;
    bottom: 0;
    width: calc(100% - 265px);
    padding: 10px 20px;
    height: 100px;
}

.user-icon {
    margin-right: 15px;
    margin-top: -1px;
    padding: 1px;
}


.search-wrapper {
    position: sticky;
    top: 0;
    padding: 10px 20px;
    width: 100%;
    height: 55px;
    margin: 0px;
    background-color: $light;
    border-bottom: solid 1px darken($light, 5%);
    z-index: 1;
}

.message-wrapper {
    padding-bottom: 1ch;
}

.media + .media {
    border-top: 0px solid;
    margin-top: 0;
}

.field:not(:last-child) {
    margin-bottom: 0;
}

.session-body {
    width: 100% !important;
}

.familiar-button {
    padding: 10px 10px 10px 20px;
    cursor: pointer;
}

.pointer {
    cursor: pointer !important;
}

.dropdown-content {
    margin-top: 3px;
     min-width: 230px;
}

.settings-delete {
    position: absolute;
    right: 10px;
    top: 32px;
}

.register-form-buttons {
    margin-left: 0px;
    margin-right: -3px;
}

.input-wrapper {
    padding-bottom: 12px;
}


.familiar-button.is-active {
    background-color: darken($light, 5%);
}

.username-text-48x48 {
    padding-top: 15px;
}
.username-text-48x48.has-subtitle {
    padding-top: 10px;
    line-height: 0.7;
}


.username-text-32x32 {
    padding-top: 5px;
}

.username-text-32x32.has-subtitle {
    padding-top: 2px;
    line-height: 0.8;
}

.sidebar-familiar:hover {
    background-color: darken($light, 5%);
}

.familiar-button:hover {
    background-color: darken($light, 5%);
}

.outgoing-message {
    color: $black !important;
}


.menu-list a {
    padding: 0;
}

body::-webkit-scrollbar {
	width: 12px;
	background-color: $light;
}

  body::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: $light;
}

  body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: $dark;
}
