$tag-radius: 10px;
$panel-tab-border-bottom: none;
$panel-item-border: none;

$green: darken(#20c20e, 7%);
$yellow: #ffb600;
$red: #d50037;

// purple theme
// $theme_base_color:  #280e34;
// $theme_text_color: #fff;

// light theme
// $theme_base_color:  #cecece;
// $theme_text_color: #2F2F2F;

// dark theme
$theme_base_color: #0a0a0a;
$theme_text_color: #f5f5f5;

@import "../node_modules/css-vars/css-vars.scss";
$css-vars-use-native: true;

@import "../node_modules/@fortawesome/fontawesome-svg-core/styles.css";
@import "../node_modules/bulma/bulma.sass";

@import "../node_modules/highlight.js/scss/github.scss";

$text_color_0: $theme_text_color;
$theme_color_0: lighten($theme_base_color, 5%);
$theme_color_1: lighten($theme_base_color, 10%);
$theme_color_2: lighten($theme_base_color, 15%);

$theme_shadow: inset 0 0 10px;

$font_override: monospace;

@include css-vars(
    (
        --theme_base_color: $theme_base_color,
        --text_color_0: $text_color_0,
        --theme_color_0: $theme_color_0,
        --theme_color_1: $theme_color_1,
        --theme_color_2: $theme_color_2,
        --font_override: $font_override,
    )
);

.image .is-rounded img {
    object-fit: cover !important;
    object-position: center center !important;
    height: 100%;
    width: 100%;
    border-radius: 250983px;
}

.twitter-picker {
    background-color: var(--theme_base_color) !important;
}

.title-bar-grabber {
    position: absolute;
    width: calc(100% - 60px);
    height: auto;
    line-height: 1.75;
    -ms-overflow-style: scrollbar;
    -webkit-app-region: drag;
}

.tabs {
    border-bottom-color: var(--theme_color_0) !important;
}

.is-plain {
    border-color: var(--theme_color_2) !important;
    background-color: var(--theme_color_0) !important;
    color: var(--text_color_0) !important;
    box-shadow: none !important;
}

::-webkit-scrollbar {
    background-color: var(--theme_color_1);
}

strong {
    color: var(--text_color_0);
}

small {
    color: var(--text_color_0);
}

p {
    color: var(--text_color_0);
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
    background: var(--theme_color_0);
}

.identity-panel {
    max-height: 50vh;
    width: 50vw;
    overflow-y: scroll;
}

.panel-heading {
    color: var(--text_color_0);
    background-color: var(--theme_color_0);
}

.dropdown-content {
    background-color: var(--theme_color_0) !important;
    border: 1px solid var(--theme_color_1);
}

.box {
    box-shadow: $theme_shadow var(--theme_color_0) !important;
}

.label {
    color: var(--text_color_0);
}

div {
    color: var(--text_color_0);
}

label {
    color: var(--text_color_0);
}

p {
    color: var(--text_color_0);
}

a {
    color: var(--text_color_0) !important;
}

a:hover {
    color: var(--text_color_0);
}

a.dropdown-item:hover {
    background-color: var(--theme_color_1);
}

.add-user-icon:hover {
    color: lighten($light, 10%);
}

div.sidebar > aside > ul > li > a:hover {
    background-color: var(--theme_color_1);
}

textarea {
    border-color: var(--theme_color_0) !important;
    background-color: var(--theme_color_0) !important;
    color: var(--text_color_0) !important;
    box-shadow: $theme_shadow var(--theme_color_0) !important;
    min-height: 60px;
    overflow-y: auto;
    word-wrap: break-word;
}

textarea:focus {
    box-shadow: $theme_shadow var(--theme_color_2) !important;
}

.server-button {
    border: 2px solid var(--theme_color_0);
    background-color: var(--theme_color_0) !important;
    color: var(--text_color_0) !important;
}

.server-button.is-active {
    border: 2px solid var(--theme_color_0) !important;
    background-color: var(--theme_color_0) !important;
    color: var(--text_color_0) !important;
}

.message-header {
    background-color: var(--theme_color_1);
    color: var(--text_color_0);
}

.message-body {
    background-color: var(--theme_color_0);
}

.message {
    outline: 2px solid var(--theme_color_1);
    border-radius: 10px;
}

.pane-topbar {
    background-color: var(--theme_color_0);
    border-bottom: 2px solid var(--theme_color_1);
}

.search-wrapper {
    border-bottom: 2px solid var(--theme_color_1);
    background-color: var(--theme_color_2);
}

.familiar-button.is-active {
    background-color: var(--theme_color_1);
}

.channel-bar-link .is-active {
    background-color: var(--theme_color_1) !important;
}

.outgoing-message {
    color: var(--theme_color_0) !important;
}

.title-bar-grabber {
    color: var(--text_color_0);
}

.input-wrapper {
    margin-bottom: 12px;
}

.t-12 {
    margin-top: 12px !important;
}

.server-button-icon {
    font-size: 36px;
    color: darken($light, 10%);
}

.server-button {
    margin-top: 3px;
}

.icon-username-fa {
    margin-top: 7px;
}

.message-text {
    margin-bottom: 4px !important;
    word-wrap: break-word;
    white-space: pre-line;
}

.message-code {
    margin-bottom: 4px !important;
}

.upload-speed-text {
    margin-top: 5px;
}

.chat-file-spinner-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 200;
    bottom: 200;
    z-index: 9;
    padding: 12px;
}
.avatar-loader {
    width: 42px;
    height: 100%;
}

.download-file-spinner {
    padding-right: 20px;
}

.l-1ch {
    padding-left: 1ch;
}

.dropdown-menu {
    opacity: 1;
    z-index: 2;
}

.file-label {
    margin-top: 2ch;
    overflow: hidden;
    white-space: nowrap;
}

.message-wrapper > .file-wrapper {
    margin-top: 1ch;
}

.media {
    border-top: none !important;
}

.file-box {
    max-width: 400px;
    padding-top: 7px !important;
    padding-bottom: 0px !important;
}

textarea {
    border-radius: 0px !important;
}

html {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

body {
    font-family: vars(--font_override) !important;
}

.dropdown-menu {
    box-shadow: none !important;
}

code {
    color: var(--text_color_0);
    background-color: var(--theme_base_color);
    border-radius: 5px !important;
}

.mention-wrapper {
    display: inline-block;
    position: relative;
    z-index: 0;
}

.mention-wrapper .mention-wrapper-overlay {
    height: 100%;
    width: 100%;
    opacity: 0.15;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0;
    transition: opacity 0.5s;
    padding: 0px 0px;
    z-index: 1;
    border-radius: 5px !important;
}

.icon {
    color: var(--text_color_0);
}

// path {
//     color: var(--text_color_0);
// }

path:hover {
    color: var(--text_color_0);
}

a {
    color: var(--text_color_0);
}

.menu-list a.is-active {
    color: var(--text_color_0);
}

.menu-label {
    color: var(--text_color_0);
}

.title {
    color: var(--text_color_0) !important;
}

.subtitle {
    color: var(--text_color_0) !important;
}

.sidebar {
    background-color: var(--theme_color_2);
}

.server-button.is-active {
    border-color: var(--theme_color_0);
    border: 1px solid $blue;
}

.server-button.is-active > span > svg {
    color: var(--theme_color_0);
}

.avatar-loader-text {
    padding-top: 20px;
}

span {
    color: var(--text_color_0);
}

#root
    > div.pane.direct-messaging
    > div.pane-screen-wrapper
    > div:nth-child(4)
    > div
    > ul
    > li
    > div
    > div:nth-child(3)
    > div:nth-child(6) {
    display: none !important;
}

.server-button.is-active > {
    background-color: var(--theme_color_1);
    border-color: var(--text_color_0);
}

.hljs {
    background-color: var(--theme_color_1) !important;
    color: var(--text_color_0);
}

html {
    background-color: var(--theme_color_1);
}

input {
    border-color: var(--theme_color_2) !important;
    background-color: var(--theme_color_0) !important;
    box-shadow: none !important;
    color: var(--text_color_0) !important;
}

input:focus {
    box-shadow: $theme_shadow var(--theme_color_2) !important;
}

::placeholder {
    color: $grey !important;
}

.box {
    background-color: var(--theme_color_0);
}

.file-box {
    background-color: var(--theme_color_1);
}

.file-box:hover {
    background-color: var(--theme_color_2);
}

input {
    border-radius: 10px !important;
}

button {
    margin-top: -3px !important;
    border-radius: 10px !important;
}

div {
    display: block;
}

.user-menu-wrapper {
    position: absolute;
    bottom: 0;
    width: 265px;
    left: 72px;
    height: 55px;
    padding: 10px 20px;
}

.horizontal-scroll {
    overflow-x: scroll;
}

.window-buttons {
    float: right;
}

.mnemonic-pre {
    max-width: 400px;
}

.settings-box {
    padding: 1ch;
}

pre.hljs {
    padding: 0px;
}

button {
    margin-top: 10px;
}

.input-wrapper {
    padding-bottom: 12px;
}

.search-bar {
    border-radius: 10px !important;
}

.window-buttons {
    font-size: 16px;
    margin-right: 5px;
}

.minimize-button {
    margin-right: 5px;
}

.maximize-button {
    margin-right: 3px;
}

.close-button {
    font-size: 17px;
}

.identity-link {
    width: 100%;
}

.title-bar {
    position: absolute;
    height: 22px;
    width: calc(100% - 60px);
    left: 0;
    top: 0px;
}

.settings-panel {
    border: 2px solid var(--theme_color_0);
}

.server-icon-wrapper {
    border-color: var(--theme_color_0) !important;
}

.user-menu-wrapper {
    border-top: 2px solid var(--theme_color_1);
    background-color: var(--theme_color_2);
}

.identity-link:hover {
    background-color: var(--theme_color_0);
    cursor: pointer;
}

.title-bar {
    background-image: linear-gradient(
        to left,
        var(--theme_color_0),
        var(--theme_color_1)
    );
    border-bottom: 2px solid var(--theme_color_2);
}

.serverbar {
    background-image: linear-gradient(
        to top,
        var(--theme_color_0),
        var(--theme_color_1)
    );
}

.pane {
    background-color: var(--theme_color_0);
}

.right-bar {
    background-color: var(--theme_color_2);
    border-left: 2px solid var(--theme_color_1);
}

.server-titlebar {
    border-bottom: 2px solid var(--theme_color_1);
    background-color: var(--theme_color_2);
}

.tag:not(body) {
    padding: 10px 15px 5px 15px;
    line-height: 1.25;
}

.message-box {
    white-space: unset !important;
    height: auto !important;
    padding: 10px;
    max-width: 60%;
}

.message-text-wrapper {
    width: 100%;
    font-size: 14px;
    overflow-wrap: break-word;
    margin-bottom: 0px;
}

.title-bar {
    height: 22px;
    width: 100vw;
}

.serverbar {
    position: absolute;
    overflow-y: auto;
    width: 72px;
    height: calc(100% - 22px);
    bottom: 0;
    left: 0;
}

.server-icon-wrapper {
    margin: 1ch;
    padding: 0 !important;
}

.server-icon-image {
    border-radius: 100% !important;
    transition: border-radius ease 0.1s;
}

.server-icon-image:hover {
    border-radius: 20px !important;
}

.server-icon-image.is-active {
    border-radius: 10px !important;
}

.server-title-text {
    padding: 14px 16px 14px 16px;
}

.server-titlebar {
    width: 100%;
    height: 55px;
}

.sidebar {
    position: absolute;
    overflow-y: auto;
    width: 265px;
    height: calc(100% - 22px - 55px);
    left: 72px;
    top: 22px;
    bottom: 55px;
}

.verify-mnemonic {
    background-color: unset;
}

.pane {
    position: absolute;
    width: calc(100% - 265px - 72px - 225px);
    right: 225px;
    height: calc(100% - 22px);
    top: 22px;
}

.pane.direct-messaging {
    width: calc(100% - 265px - 72px);
    right: 0px;
}

.right-bar {
    position: absolute;
    width: 225px;
    right: 0px;
    bottom: 0px;
    top: 22px;
    height: calc(100% - 22px);
}

.right-bar > p {
    padding-top: 1ch;
    padding-left: 10px;
}

.online-user {
    padding-left: 10px;
    padding-bottom: 10px;
}

.online-user.offline {
    opacity: 0.45;
    filter: alpha(opacity=45);
}

.dim {
    opacity: 0.45;
    filter: alpha(opacity=45);
}

.pane-screen-wrapper {
    position: relative;
    top: 0;
    bottom: 170px;
    height: calc(100vh - 176px);
    overflow-y: auto;
    padding: 4ch 4ch;
}

.conversation-wrapper {
    position: relative;
    top: 0;
    bottom: 180px;
    height: calc(100vh - 55px - 22px - 58px);
    width: 100%;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px 20px;
}

.conversation-wrapper::-webkit-scrollbar {
    display: show;
}

.full-size {
    width: 100vw;
    height: calc(100vh - 22px);
    top: 22px;
}

.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Aligner-item {
    max-width: 50%;
}

.Aligner-item--top {
    align-self: flex-start;
}

.Aligner-item--bottom {
    align-self: flex-end;
}

.pane-topbar {
    padding: 10px 20px;
    height: 55px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.pane-topbar-content {
    display: inline-block;
    margin: 0 auto;
}

.add-user-icon {
    float: right;
}

.chat-input-wrapper {
    position: fixed;
    bottom: 0;
    width: calc(100% - 265px - 297px);
    height: auto;
    z-index: 1;
    min-height: 58px;
    overflow: remove;
    border-top: 2px solid var(--theme_color_2);
}

.chat-input-wrapper.direct-messaging {
    width: calc(100% - 265px);
}

.user-icon {
    margin-top: -1px;
    padding: 1px;
}

.search-wrapper {
    position: sticky;
    top: 0;
    padding: 10px 20px;
    width: 100%;
    height: 55px;
    margin: 0px;
    z-index: 1;
}

.message-wrapper {
    position: relative;
    // i am not sure why i ahve to take out 500px here
    max-width: calc(100vw - 500px);
    padding-bottom: 1ch;
}

.media + .media {
    border-top: 0px solid;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 7px;
    margin-bottom: 0;
}

.field:not(:last-child) {
    margin-bottom: 0;
}

.session-body {
    width: 100% !important;
}

.familiar-button {
    padding: 10px 10px 10px 20px;
    cursor: pointer;
}

.pointer {
    cursor: pointer !important;
}

.dropdown-content {
    margin-top: 3px;
    width: auto;
}

.user-dropdown {
    min-width: 230px;
}

.settings-delete {
    position: absolute;
    right: 10px;
    top: 32px;
}

.register-form-buttons {
    margin-left: 0px;
    margin-right: -3px;
    margin-top: -10px;
}

.input-wrapper {
    padding-bottom: 12px;
}

.username-text-48x48 {
    padding-top: 15px;
}

.username-text-48x48.has-subtitle {
    padding-top: 10px;
    line-height: 0.7;
}

.username-text-32x32 {
    padding-top: 5px;
}

.download-icon {
    padding-right: 35px;
    padding-top: 23px;
}

.username-text-32x32.has-subtitle {
    padding-top: 2px;
    line-height: 0.8;
}

.avatar-trigger:hover {
    opacity: 0.5;
    filter: alpha(opacity=40);
}

.hidden {
    visibility: hidden;
}

.history-disclaimer {
    margin-bottom: 1.5ch;
}
