$tag-radius: 10px;
$panel-tab-border-bottom: none;
$panel-item-border: none;
$menu-item-active-background-color: darken(hsl(0, 0%, 96%), 5%);
$menu-item-active-color: hsl(0, 0%, 4%);

@import "../node_modules/@fortawesome/fontawesome-svg-core/styles.css";
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/highlight.js/scss/github.scss";

.identity-panel {
    max-height: 50vh;
    width: 50vw;
    overflow-y: scroll;
}

.title-bar-grabber {
    position: absolute;
    width: calc(100% - 60px);
    height: auto;
    line-height: 1.75;
    color: $black;
    -ms-overflow-style: scrollbar;
    -webkit-app-region: drag;
}

.hljs {
    background-color: $light !important;
}

.input-wrapper {
    margin-bottom: 12px;
}

.t-12 {
    margin-top: 12px !important;
}

.server-button-icon {
    font-size: 36px;
    color: darken($light, 10%);
}

.server-button {
    margin-top: 3px;
    border: 1px solid $light;
}

.icon-username-fa {
    margin-top: 7px;
}

.server-button.is-active {
    // background-color: $light;
    border-color: darken($light, 10%);
    border: 1px solid $blue;
}

.server-button.is-active > span > svg {
    color: darken($light, 20%) !important;
}

.server-button.is-active > {
    background-color: $light;
    border-color: darken($light, 10%);
}

body::-webkit-scrollbar {
    width: 12px;
    background-color: $light;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: $light;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $dark;
}

.message-text {
    margin-bottom: 4px !important;
    word-wrap: break-word;
}

.message-code {
    margin-bottom: 4px !important;
}

.chat-file-spinner-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 200;
    bottom: 200;
    z-index: 9;
}

textarea {
    border-radius: 0px !important;
}

html {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

input {
    border-radius: 10px !important;
}

button {
    margin-top: -3px !important;
    border-radius: 10px !important;
}

div {
    display: block;
}

.user-menu-wrapper {
    position: absolute;
    bottom: 0;
    width: 265px;
    left: 72px;
    height: 55px;
    border-top: 1px solid darken($light, 10%);
    padding: 10px 20px;
    background-color: $light;
}

.horizontal-scroll {
    overflow-x: scroll;
}

.window-buttons {
    float: right;
}

.mnemonic-pre {
    max-width: 400px;
}

.settings-box {
    padding: 1ch;
}

pre.hljs {
    padding: 0px;
}

button {
    margin-top: 10px;
}

.input-wrapper {
    padding-bottom: 12px;
}

.search-bar {
    border-radius: 10px !important;
}

.window-buttons {
    font-size: 16px;
    margin-right: 5px;
}

.minimize-button {
    margin-right: 5px;
}

.maximize-button {
    margin-right: 3px;
}

.close-button {
    font-size: 17px;
}

.identity-link {
    width: 100%;
}

.identity-link:hover {
    background-color: darken($light, 5%);
    cursor: pointer;
}

.title-bar {
    position: absolute;
    height: 22px;
    width: calc(100% - 60px);
    left: 0;
    top: 0px;
    background-image: linear-gradient(to left, $light, $white);
}

.tag:not(body) {
    padding: 10px 15px 5px 15px;
    line-height: 1.25;
}

.message-box {
    white-space: unset !important;
    height: auto !important;
    padding: 10px;
    max-width: 60%;
}

.message-text-wrapper {
    width: 100%;
    font-size: 14px;
    overflow-wrap: break-word;
    margin-bottom: 0px;
}

.title-bar {
    height: 22px;
    width: 100vw;
    border-bottom: 2px solid $light;
}

.serverbar {
    position: absolute;
    overflow-y: auto;
    width: 72px;
    height: calc(100% - 22px);
    bottom: 0;
    background-image: linear-gradient(to top, $light, $white);
    left: 0;
}

.server-icon-wrapper {
    margin: 1ch;
    padding: 0 !important;
}

.server-icon-image {
    border-radius: 100% !important;
    transition: border-radius ease 0.1s;
}

.server-icon-image:hover {
    border-radius: 20px !important;
}

.server-icon-image.is-active {
    border-radius: 10px !important;
}

.server-title-text {
    padding: 14px 16px 14px 16px;
}

.server-titlebar {
    width: 100%;
    height: 55px;
    border-bottom: 1px solid darken($light, 5%);
}

.sidebar {
    position: absolute;
    overflow-y: auto;
    width: 265px;
    height: calc(100% - 22px - 55px);
    left: 72px;
    top: 22px;
    bottom: 55px;
    background-color: $light;
}

.verify-mnemonic {
    background-color: unset;
}

.pane {
    position: absolute;
    width: calc(100% - 265px - 72px);
    right: 0;
    height: calc(100% - 22px);
    top: 22px;
    background-color: $white;
}

.pane-screen-wrapper {
    position: relative;
    top: 0;
    bottom: 170px;
    height: calc(100vh - 176px);
    overflow-y: auto;
    padding: 1ch 4ch;
}

.conversation-wrapper {
    position: relative;
    top: 0;
    bottom: 180px;
    height: calc(100vh - 176px);
    width: calc(100vw - 72px - 265px);
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px 20px;
    border-bottom: 1px solid $light;
}

.conversation-wrapper::-webkit-scrollbar {
    display: show;
}

div.sidebar > aside > ul > li > a:hover {
    background-color: darken($light, 5%);
}

.full-size {
    width: 100vw;
    height: calc(100vh - 22px);
    top: 22px;
}

.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Aligner-item {
    max-width: 50%;
}

.Aligner-item--top {
    align-self: flex-start;
}

.Aligner-item--bottom {
    align-self: flex-end;
}

.pane-topbar {
    padding: 10px 20px;
    height: 55px;
    position: sticky;
    top: 0px;
    z-index: 1;
    border-bottom: 1px solid $light;
    background-color: #fff;
}

.pane-topbar-content {
    display: inline-block;
    margin: 0 auto;
}

.add-user-icon {
    float: right;
}

.add-user-icon:hover {
    color: lighten($dark, 10%);
}

.chat-input-wrapper {
    position: fixed;
    bottom: 0;
    width: calc(100% - 265px);
    height: 100px;
}

.user-icon {
    margin-right: 15px;
    margin-top: -1px;
    padding: 1px;
}

.search-wrapper {
    position: sticky;
    top: 0;
    padding: 10px 20px;
    width: 100%;
    height: 55px;
    margin: 0px;
    background-color: $light;
    border-bottom: solid 1px darken($light, 5%);
    z-index: 1;
}

.message-wrapper {
    position: relative;
    // i am not sure why i ahve to take out 500px here
    max-width: calc(100vw - 500px);
    padding-bottom: 1ch;
}

.media + .media {
    border-top: 0px solid;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 7px;
    margin-bottom: 0;
}

.field:not(:last-child) {
    margin-bottom: 0;
}

.session-body {
    width: 100% !important;
}

.familiar-button {
    padding: 10px 10px 10px 20px;
    cursor: pointer;
}

.window-button-icon:hover {
    color: pink;
}

.pointer {
    cursor: pointer !important;
}

.dropdown-content {
    margin-top: 3px;
    width: auto;
}

.user-dropdown {
    min-width: 230px;
}

.settings-delete {
    position: absolute;
    right: 10px;
    top: 32px;
}

.register-form-buttons {
    margin-left: 0px;
    margin-right: -3px;
    margin-top: -10px;
}

.input-wrapper {
    padding-bottom: 12px;
}

.familiar-button.is-active {
    background-color: darken($light, 5%);
}

.username-text-48x48 {
    padding-top: 15px;
}
.username-text-48x48.has-subtitle {
    padding-top: 10px;
    line-height: 0.7;
}

.username-text-32x32 {
    padding-top: 5px;
}

.username-text-32x32.has-subtitle {
    padding-top: 2px;
    line-height: 0.8;
}

.sidebar-familiar:hover {
    background-color: darken($light, 5%);
}

.familiar-button:hover {
    background-color: darken($light, 5%);
}

.outgoing-message {
    color: $black !important;
}

.avatar-trigger:hover {
    opacity: 0.5;
    filter: alpha(opacity=40);
}
