$tag-radius: 10px;
$panel-tab-border-bottom: none;
$panel-item-border: none;

$green: darken(#20c20e, 7%);
$yellow: #ffb600;
$red: #d50037;

@import "../node_modules/@fortawesome/fontawesome-svg-core/styles.css";
@import "../node_modules/bulma/bulma.sass";

@import "../node_modules/highlight.js/scss/github.scss";

$theme_color_0: lighten(#000, 3%);
$theme_color_1: lighten(#000, 6%);
$theme_color_2: lighten(#000, 9%);

$text_color_0: darken($white, 15%);

.image .is-rounded img {
    object-fit: cover !important;
    object-position: center center !important;
    height: 100%;
    width: 100%;
    border-radius: 250983px;
}

.title-bar-grabber {
    position: absolute;
    width: calc(100% - 60px);
    height: auto;
    line-height: 1.75;
    -ms-overflow-style: scrollbar;
    -webkit-app-region: drag;
}

@media (prefers-color-scheme: dark) {
    .tabs {
        border-bottom-color: $theme_color_0 !important;
    }

    .button {
        color: $text_color_0 !important;
    }

    .is-plain {
        border-color: $theme_color_2 !important;
        background-color: $theme_color_0 !important;
        box-shadow: none !important;
    }

    ::-webkit-scrollbar {
        background-color: $theme_color_1;
    }

    strong {
        color: $text_color_0;
    }

    p {
        color: $text_color_0;
    }

    ::-webkit-scrollbar-thumb:window-inactive,
    ::-webkit-scrollbar-thumb {
        background: $theme_color_0;
    }

    .identity-panel {
        max-height: 50vh;
        width: 50vw;
        overflow-y: scroll;
    }

    .panel-heading {
        color: $text_color_0;
        background-color: $theme_color_0;
    }

    .dropdown-content {
        background-color: $theme_color_0 !important;
    }

    .box {
        box-shadow: 0 -2px 10px rgba(10, 10, 10, 1) !important;
    }

    .label {
        color: $text_color_0;
    }

    div {
        color: $text_color_0;
    }

    label {
        color: $text_color_0;
    }

    .icon-username-wrapper:hover {
        background-color: $theme_color_0;
    }

    p {
        color: $text_color_0;
    }

    a {
        color: $text_color_0 !important;
    }

    a:hover {
        color: darken($text_color_0, 3%);
        background-color: $theme_color_0;
    }

    a.dropdown-item:hover {
        background-color: $theme_color_1;
    }

    .add-user-icon:hover {
        color: lighten($light, 10%);
    }

    div.sidebar > aside > ul > li > a:hover {
        background-color: $theme_color_0;
    }

    textarea {
        border-color: $theme_color_0 !important;
        background-color: $theme_color_0 !important;
        box-shadow: none !important;
        color: $text_color_0 !important;
        box-shadow: 0 -2px 10px rgba(50, 50, 50, 1) !important;
    }

    textarea:focus {
        box-shadow: 0 -2px 10px rgba(23, 66, 135, 1) !important;
    }

    .server-button {
        border: 2px solid $black;
        background-color: $theme_color_0 !important;
        color: $text_color_0 !important;
    }

    .server-button.is-active {
        border: 2px solid $black !important;
        background-color: $theme_color_0 !important;
        color: $text_color_0 !important;
    }

    .message-header {
        background-color: $theme_color_1;
    }

    .message-body {
        background-color: $theme_color_0;
    }

    .message {
        outline: 2px solid $theme_color_1;
        border-radius: 10px;
    }

    .pane-topbar {
        background-color: $theme_color_0;
        border-bottom: 2px solid $theme_color_1;
    }

    .search-wrapper {
        border-bottom: 2px solid $theme_color_1;
        background-color: $theme_color_0;
    }

    .familiar-button.is-active {
        background-color: $theme_color_0;
    }

    .channel-bar-link .is-active {
        background-color: $theme_color_0 !important;
    }

    .sidebar-familiar:hover {
        background-color: $theme_color_0;
    }

    .familiar-button:hover {
        background-color: $theme_color_0;
    }

    .outgoing-message {
        color: $black !important;
    }

    .title-bar-grabber {
        color: $text_color_0;
    }
}

@media (prefers-color-scheme: light) {
    .channel-bar-link .is-active {
        background-color: darken($light, 5%) !important;
    }

    ::-webkit-scrollbar {
        background-color: $white;
        width: 8px;
    }

    ::-webkit-scrollbar-thumb:window-inactive,
    ::-webkit-scrollbar-thumb {
        background: $light;
    }

    .identity-panel {
        max-height: 50vh;
        width: 50vw;
        overflow-y: scroll;
    }

    .add-user-icon:hover {
        color: lighten($dark, 10%);
    }

    div.sidebar > aside > ul > li > a:hover {
        background-color: darken($light, 5%);
    }

    .pane-topbar {
        background-color: #fff;
        border-bottom: 1px solid $light;
    }

    .search-wrapper {
        border-bottom: 1px solid $light;
    }

    .familiar-button.is-active {
        background-color: darken($light, 5%);
    }

    .sidebar-familiar:hover {
        background-color: darken($light, 5%);
    }

    .familiar-button:hover {
        background-color: darken($light, 5%);
    }

    .outgoing-message {
        color: $black !important;
    }

    .title-bar-grabber {
        color: $black;
    }
}

.input-wrapper {
    margin-bottom: 12px;
}

.t-12 {
    margin-top: 12px !important;
}

.server-button-icon {
    font-size: 36px;
    color: darken($light, 10%);
}

.server-button {
    margin-top: 3px;
}

.icon-username-fa {
    margin-top: 7px;
}

.message-text {
    margin-bottom: 4px !important;
    word-wrap: break-word;
}

.message-code {
    margin-bottom: 4px !important;
}

.chat-file-spinner-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 200;
    bottom: 200;
    z-index: 9;
}

.dropdown-menu {
    opacity: 1;
    z-index: 2;
}

.file-label {
    margin-top: 2ch;
    overflow: hidden;
    white-space: nowrap;
}

.message-wrapper > .file-wrapper {
    margin-top: 1ch;
}

.media {
    border-top: none !important;
}

.file-box {
    max-width: 400px;
    padding-top: 7px !important;
    padding-bottom: 0px !important;
}

textarea {
    border-radius: 0px !important;
}

html {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

@media (prefers-color-scheme: dark) {
    .dropdown-menu {
        box-shadow: none !important;
    }

    .icon {
        color: darken($text_color_0, 1%);
    }

    button {
        color: $text_color_0 !important;
    }

    path {
        color: darken($text_color_0, 1%);
    }

    path:hover {
        color: darken($text_color_0, 2%);
    }

    a {
        color: darken($text_color_0, 1%);
    }

    .menu-list a.is-active {
        color: $text_color_0;
    }

    .title {
        color: $text_color_0 !important;
    }

    .subtitle {
        color: $text_color_0 !important;
    }

    .sidebar {
        background-color: $theme_color_1;
    }

    .server-button.is-active {
        border-color: $theme_color_0;
        border: 1px solid $blue;
    }

    .server-button.is-active > span > svg {
        color: $theme_color_0;
    }

    .server-button.is-active > {
        background-color: $theme_color_1;
        border-color: darken($theme_color_1, 10%);
    }

    .hljs {
        background-color: $theme_color_1 !important;
        color: $text_color_0;
    }

    html {
        background-color: $theme_color_1;
    }

    input {
        border-color: $theme_color_2 !important;
        background-color: $theme_color_0 !important;
        box-shadow: none !important;
        color: $text_color_0 !important;
    }

    input:focus {
        box-shadow: 0 -2px 10px rgba(23, 66, 135, 1) !important;
    }

    ::placeholder {
        color: $grey !important;
    }

    .box {
        background-color: $theme_color_0;
    }

    .file-box {
        background-color: $theme_color_1;
    }

    .file-box:hover {
        background-color: $theme_color_2;
    }
}

@media (prefers-color-scheme: light) {
    .menu-list a.is-active {
        background-color: $light;
        color: $black;
    }

    .server-button.is-active {
        border-color: darken($light, 10%);
        border: 1px solid $blue;
    }

    .server-button.is-active > span > svg {
        color: darken($light, 20%) !important;
    }

    .server-button.is-active > {
        background-color: $light;
        border-color: darken($light, 10%);
    }

    .hljs {
        background-color: $light !important;
    }

    html {
        background-color: $white;
    }

    .file-box:hover {
        background-color: darken($white, 1%);
    }
}

input {
    border-radius: 10px !important;
}

button {
    margin-top: -3px !important;
    border-radius: 10px !important;
}

div {
    display: block;
}

.user-menu-wrapper {
    position: absolute;
    bottom: 0;
    width: 265px;
    left: 72px;
    height: 55px;
    padding: 10px 20px;
}

.horizontal-scroll {
    overflow-x: scroll;
}

.window-buttons {
    float: right;
}

.mnemonic-pre {
    max-width: 400px;
}

.settings-box {
    padding: 1ch;
}

pre.hljs {
    padding: 0px;
}

button {
    margin-top: 10px;
}

.input-wrapper {
    padding-bottom: 12px;
}

.search-bar {
    border-radius: 10px !important;
}

.window-buttons {
    font-size: 16px;
    margin-right: 5px;
}

.minimize-button {
    margin-right: 5px;
}

.maximize-button {
    margin-right: 3px;
}

.close-button {
    font-size: 17px;
}

.identity-link {
    width: 100%;
}

.title-bar {
    position: absolute;
    height: 22px;
    width: calc(100% - 60px);
    left: 0;
    top: 0px;
}

@media (prefers-color-scheme: dark) {
    .server-icon-wrapper {
        border-color: $theme_color_0 !important;
    }

    .user-menu-wrapper {
        border-top: 2px solid $theme_color_2;
        background-color: $theme_color_1;
    }

    .identity-link:hover {
        background-color: darken($black, 5%);
        cursor: pointer;
    }

    .title-bar {
        background-image: linear-gradient(
            to left,
            $theme_color_0,
            darken($black-bis, 2%)
        );
        border-bottom: 2px solid $theme_color_2;
    }

    .serverbar {
        background-image: linear-gradient(
            to top,
            darken($black-bis, 1%),
            $theme_color_0
        );
    }

    .pane {
        background-color: $theme_color_0;
    }

    .right-bar {
        background-image: linear-gradient(
            to bottom,
            $theme_color_0,
            darken($black-bis, 2%)
        );
        border-left: 2px solid $theme_color_1;
    }

    .server-titlebar {
        border-bottom: 2px solid $theme_color_2;
        background-color: $theme_color_0;
    }
}

@media (prefers-color-scheme: light) {
    .user-menu-wrapper {
        border-top: 2px solid $white;
        background-color: $light;
    }

    .identity-link:hover {
        background-color: darken($light, 5%);
        cursor: pointer;
    }

    .title-bar {
        background-image: linear-gradient(to left, $light, $white);
        border-bottom: 2px solid $light;
    }

    .serverbar {
        background-image: linear-gradient(to top, $light, $white);
    }

    .pane {
        background-color: $white;
    }

    .right-bar {
        background-image: linear-gradient(to bottom, $white, $light);
        border-left: 2px solid $light;
    }

    .server-titlebar {
        border-bottom: 1px solid darken($light, 5%);
    }
}

.tag:not(body) {
    padding: 10px 15px 5px 15px;
    line-height: 1.25;
}

.message-box {
    white-space: unset !important;
    height: auto !important;
    padding: 10px;
    max-width: 60%;
}

.message-text-wrapper {
    width: 100%;
    font-size: 14px;
    overflow-wrap: break-word;
    margin-bottom: 0px;
}

.title-bar {
    height: 22px;
    width: 100vw;
}

.serverbar {
    position: absolute;
    overflow-y: auto;
    width: 72px;
    height: calc(100% - 22px);
    bottom: 0;
    left: 0;
}

.server-icon-wrapper {
    margin: 1ch;
    padding: 0 !important;
}

.server-icon-image {
    border-radius: 100% !important;
    transition: border-radius ease 0.1s;
}

.server-icon-image:hover {
    border-radius: 20px !important;
}

.server-icon-image.is-active {
    border-radius: 10px !important;
}

.server-title-text {
    padding: 14px 16px 14px 16px;
}

.server-titlebar {
    width: 100%;
    height: 55px;
}

.sidebar {
    position: absolute;
    overflow-y: auto;
    width: 265px;
    height: calc(100% - 22px - 55px);
    left: 72px;
    top: 22px;
    bottom: 55px;
}

.verify-mnemonic {
    background-color: unset;
}

.pane {
    position: absolute;
    width: calc(100% - 265px - 72px - 225px);
    right: 225px;
    height: calc(100% - 22px);
    top: 22px;
}

.pane.direct-messaging {
    width: calc(100% - 265px - 72px);
    right: 0px;
}

.right-bar {
    position: absolute;
    width: 225px;
    right: 0px;
    bottom: 0px;
    top: 22px;
    height: calc(100% - 22px);
}

.right-bar > p {
    padding-top: 1ch;
    padding-left: 10px;
}

.online-user {
    padding-left: 10px;
    padding-bottom: 10px;
}

.online-user.offline {
    opacity: 0.45;
    filter: alpha(opacity=45);
}

.pane-screen-wrapper {
    position: relative;
    top: 0;
    bottom: 170px;
    height: calc(100vh - 176px);
    overflow-y: auto;
    padding: 1ch 4ch;
}

.conversation-wrapper {
    position: relative;
    top: 0;
    bottom: 180px;
    height: calc(100vh - 176px);
    width: 100%;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px 20px;
}

.conversation-wrapper::-webkit-scrollbar {
    display: show;
}

.full-size {
    width: 100vw;
    height: calc(100vh - 22px);
    top: 22px;
}

.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Aligner-item {
    max-width: 50%;
}

.Aligner-item--top {
    align-self: flex-start;
}

.Aligner-item--bottom {
    align-self: flex-end;
}

.pane-topbar {
    padding: 10px 20px;
    height: 55px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.pane-topbar-content {
    display: inline-block;
    margin: 0 auto;
}

.add-user-icon {
    float: right;
}

.chat-input-wrapper {
    position: fixed;
    bottom: 0;
    width: calc(100% - 265px - 297px);
    height: 100px;
    z-index: 1;
    overflow: remove;
}

.chat-input-wrapper.direct-messaging {
    width: calc(100% - 265px);
}

.user-icon {
    margin-right: 15px;
    margin-top: -1px;
    padding: 1px;
}

.search-wrapper {
    position: sticky;
    top: 0;
    padding: 10px 20px;
    width: 100%;
    height: 55px;
    margin: 0px;
    z-index: 1;
}

.message-wrapper {
    position: relative;
    // i am not sure why i ahve to take out 500px here
    max-width: calc(100vw - 500px);
    padding-bottom: 1ch;
}

.media + .media {
    border-top: 0px solid;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 7px;
    margin-bottom: 0;
}

.field:not(:last-child) {
    margin-bottom: 0;
}

.session-body {
    width: 100% !important;
}

.familiar-button {
    padding: 10px 10px 10px 20px;
    cursor: pointer;
}

.pointer {
    cursor: pointer !important;
}

.dropdown-content {
    margin-top: 3px;
    width: auto;
}

.user-dropdown {
    min-width: 230px;
}

.settings-delete {
    position: absolute;
    right: 10px;
    top: 32px;
}

.register-form-buttons {
    margin-left: 0px;
    margin-right: -3px;
    margin-top: -10px;
}

.input-wrapper {
    padding-bottom: 12px;
}

.username-text-48x48 {
    padding-top: 15px;
}

.username-text-48x48.has-subtitle {
    padding-top: 10px;
    line-height: 0.7;
}

.username-text-32x32 {
    padding-top: 5px;
}

.download-icon {
    padding-right: 35px;
    padding-top: 23px;
}

.username-text-32x32.has-subtitle {
    padding-top: 2px;
    line-height: 0.8;
}

.avatar-trigger:hover {
    opacity: 0.5;
    filter: alpha(opacity=40);
}

.hidden {
    visibility: hidden;
}

.history-disclaimer {
    margin-bottom: 1.5ch;
}
